<div class="page-header">
  My To-do
</div>

<div class="row justify-content-center page-content">
  <div class="col-lg-6 col-xl-6 page-content-grid">
    <!-- input container -->
    <div class="list-input-container">
      <div class="input-group">
        <input type="text" class="form-control list-item-input" (keyup.enter)="addListItem()" [(ngModel)]="listItem" placeholder="List Item">
        <span class="input-group-btn">
          <button class="btn btn-secondary list-item-button" type="button" (click)="addListItem()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </span>
      </div>
      <div class="input-group">
        <input type="file" multiple (change)="chooseFile($event)" #fileInput id="fileInput">
      </div>
    </div>
    <!-- List -->
    <div class="list-container">
      <div class="list-title">
        Attachment<span *ngIf="files?.length > 1" >s</span>
      </div>
      <ul class="item-list-container" *ngIf="files?.length" >
        <li class="item-list" *ngFor="let item of files;let i = index">
          <span class="item-container">
            <span>{{i + 1}}.</span>  <span>{{item.name}}</span>
          </span>
          <!-- <span class="remove-icon">
            <i class="fa fa-times" (click)="removeFileFromList(item)" aria-hidden="true"></i>            
          </span> -->
        </li>
      </ul>
      <div class="list-title">
        Item<span *ngIf="list.length > 1" >s</span>
      </div>
      <div *ngIf="!list.length"  class="empty-list">Add your list item.</div>
      <ul class="item-list-container" *ngIf="list.length" >
        <li class="item-list" *ngFor="let item of list;let i = index">
          <span class="item-check-box">
              <div class="form-check">
                <label class="form-check-label">
                  <input style="position: relative;" type="checkbox" class="form-check-input" [(ngModel)]="item.completed" (change)="action('list', i)">
                </label>
              </div>
          </span>
          <span class="item-container">
              <span>{{item.item}}</span>
          </span>
          <span class="remove-icon">
              <i class="fa fa-times" (click)="removeItem('list', i)" aria-hidden="true"></i>            
          </span>
        </li>
      </ul>
      <div class="list-title" *ngIf="completedList.length">
        {{completedList.length}} Completed item<span *ngIf="completedList.length > 1" >s</span>
      </div>
      <ul class="item-list-container" *ngIf="completedList.length" >
        <li class="item-list" *ngFor="let item of completedList; let i = index">
          <span class="item-check-box">
              <div class="form-check">
                <label class="form-check-label">
                  <input style="position: relative;" type="checkbox" class="form-check-input" [(ngModel)]="item.completed" (change)="action('completedList', i)">
                </label>
              </div>
          </span>
          <span class="completed-item-list">
              <span>{{item.item}}</span>
          </span>
          <span class="remove-icon">
              <i class="fa fa-times" (click)="removeItem('completedList', i)" aria-hidden="true"></i>            
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>